MÃ©thodes d'ensemble
===================

## Preamble

### Imports

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_squared_log_error

### Functions

In [2]:
# Display all
def display_all(df):
    with pd.option_context("display.max_rows", 100, "display.max_columns", 100): 
        display(df)

## Evaluation

### Load Data

In [3]:
df = pd.read_csv('data/test.csv')

display_all(df.describe(include='all').T)

,count,mean,std,min,25%,50%,75%,max
MedInc,4128.0,3.860883,1.900961,0.499900,2.562500,3.529500,4.747900,15.000100
HouseAge,4128.0,28.608285,12.591854,2.000000,18.000000,29.000000,37.000000,52.000000
AveRooms,4128.0,5.452692,2.908733,0.888889,4.469323,5.244935,6.060412,141.909091
AveBedrms,4128.0,1.097004,0.512122,0.333333,1.004702,1.049367,1.099435,25.636364
Population,4128.0,1422.595688,1138.772944,3.000000,781.000000,1151.500000,1729.000000,28566.000000
AveOccup,4128.0,3.111294,9.458030,0.750000,2.441917,2.828154,3.278794,599.714286
Latitude,4128.0,35.673702,2.142045,32.550000,33.940000,34.290000,37.730000,41.860000
Longitude,4128.0,-119.617183,2.013693,-124.300000,-121.842500,-118.590000,-118.020000,-114.550000
AvePrice,4128.0,2.068402,1.154009,0.175000,1.193500,1.797000,2.647500,5.000010

### Load model

In [4]:
rf = pickle.load(open('data/RF_california.pkl', 'rb'))

### Evaluation

In [5]:
X = df.drop('AvePrice', axis=1).to_numpy()
y = df['AvePrice'].to_numpy()

In [6]:
rf.score(X, y)

0.7989206713438753

In [7]:
y_pred = rf.predict(X)
print('R2:', r2_score(y, y_pred))
print('Mean Absolute Error:', mean_absolute_error(y, y_pred))  
print('Mean Squared Error:', mean_squared_error(y, y_pred))
print('Mean Squared Log Error:', mean_squared_log_error(y, y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y, y_pred)))

R2: 0.7989206713438753
Mean Absolute Error: 0.3480536395324212
Mean Squared Error: 0.2677200077500948
Mean Squared Log Error: 0.024296213994703275
Root Mean Squared Error: 0.5174166674451982

Soit une erreur d'environ 53 mille dollars en moyenne.

## Bibliography

### References


[california.bib](california.bib)